body {
    display: flex;
    justify-content: center;
}

table {
    width: 60%;
    border: 2px solid #000;
}

th {
    padding: 20px;
    border: 2px solid #000;
}

.th_1 {
    background-color: rgb(48, 96, 217);
}

.th_2 {
    background-color: yellow;
}